class <%= @object[:class_name] %> < ApplicationRecord
  self.table_name = '<%= @object[:table_name] %>'
<% @object[:belongs_to].each do |bt| %>
  <%= bt.association_code %>
<% end %>
<% @object[:has_many].each do |bt| %>
  <%= bt.association_code %>
<% end %>
end
